html 
    head 
        title PROFES SOS
    

    body 
        nav 
            a(href="/") Home
            a(href="/login") Login
            a(href="/logout") Logout
        
        block content

        block script