extends ../layout

block content 
    h1 Editar Usuario
        form(action="/users/${req.session.user.id}", method="post")
            label(for="nombre") Nombre:
            input(type="text", name="nombre", id="nombre", value= req.session.user.nombre )
            label(for="apellido") Apellido:
            input(type="text", name="apellido", id="apellido", value= req.session.user.apellido )
            label(for="password") Contraseña del usuario: 
            input#password.form-control(type="password", name="password", placeholder="Contraseña")
            input(type="submit", value="guardar")