html 
    head 
        title PROFES SOS
        link(rel="stylesheet" href="../../css/style.css")

    body 
        nav 
            a(href="/") Home
            a(href="/tutoriales/search") Buscar
            a(href="/tutoriales/misTutos") Mis tutoriales
            a(href="/login") Login
            a(href="/logout") Logout
        h1 Editar Usuario
            form(action='/users/'+session.user.id, method="post")
                label(for="nombre") Nombre:
                input(type="text", name="nombre", id="nombre", value=session.user.nombre )
                label(for="apellido") Apellido:
                input(type="text", name="apellido", id="apellido", value=session.user.apellido )
                label(for="password") Contrase単a del usuario: 
                input(type="password", name="password", placeholder="Contrase単a")
                label(for="passwordConfirm") Confirmar contrase単a: 
                input(type="passwordConfirm", name="passwordConfirm", placeholder="Confirmar contrase単a")
                input(type="submit", value="guardar")
